@font-face {
    font-family: AvenirRoman;
    src: url("../fonts/avenir/Avenir-Roman.otf") format('opentype');
}

@font-face {
    font-family: AvenirRoman;
    font-style: italic;
    src: url("../fonts/avenir/Avenir-Medium-Oblique.ttf") format('truetype');
}

@font-face {
    font-family: AvenirRoman;
    font-weight: bold;
    src: url("../fonts/avenir/Avenir-Heavy.otf") format('opentype');
}

@font-face {
    font-family: AvenirRomanMedium;
    src: url("../fonts/avenir/Avenir-Medium.otf") format('opentype');
}

body {
    font-family: 'AvenirRoman', 'Arial';
    font-size: 1.1rem;
}

@media (max-width: 576px) {
    body {
        font-size: .9rem;
    }
}

.navigation {
    height: auto;
    color: #fff;
}
.navigation>.container{
background-color: #25475B;
}
.navigation p {
    margin-top: 1rem;
}
.navigation a {
    color: #fff;
    text-decoration: none;
}


/*Colors*/

.light-blue {
    color: #E7F5FE;
}

.light-blue-bckg {
    background-color: #E7F5FE;
}

.dark-blue {
    color: #25475B;
}

.dark-blue-bckg {
    background-color: #1B3747;
}

.green-store {
    color: #62E5CD;
}

.info-icon-color {
    color: #4a81d2;
}

.sky-blue-color {
    color: #61A8DD;
}


/*Select language page*/

.body-select p.dark-blue {
    margin-top: 1.5rem;
    font-size: 1rem;
}

.flags img {
    width: 50px;
}

.media.flags {
    border-bottom: 1px solid #d4d4d4;
}

.flags img.checked-icon {
    width: 15px;
    padding: 1.45rem 0;
}

@media (max-width: 576px) {
    .flags img.checked-icon {
        padding: 1.3rem 0;
    }
}
