extends templates
block title
	title Learn words

block content
	.navigation
		.container
			.row
				.col-4
					p 
						a(href='#') Go back
				.col-4
					p.text-center.font-weight-bold Edit word

				.col-4.text-right
					p.two-icon
						a(href='#').mr-3 Save
						a(href='#')
							img.nav-icon(src='../assets/img/general-icons/question-white.svg')