extends templates
block title
	title Select language

block content
	.navigation.light-blue-bckg
		.container
				.row
					.col
						p 
							a(href='', title='') Cancel
					.col-6
						p.text-center 
							a(href='', title='')
								strong Select target language
					.col
						p       
	.body-select.light-blue-bckg
		.container
			.row
				.col
					p.dark-blue Please select the language you want to learn words for from the list below.


			.media.flags
				img.d-flex.align-self-center.mr-3(src='../assets/img/flags/netherlands@2x.png', alt='')
				.media-body
					p.mt-3 Dutch
			.media.flags
				img.d-flex.align-self-center.mr-3(src='../assets/img/flags/germany@2x.png', alt='')
				.media-body
					p.mt-3 German
			.media.flags
				img.d-flex.align-self-center.mr-3(src='../assets/img/flags/england@2x.png', alt='')
				.media-body
					p.mt-3 English
			.media.flags
				img.d-flex.align-self-center.mr-3(src='../assets/img/flags/spain@2x.png', alt='')
				.media-body
					p.mt-3 Spanish
			.media.flags
				img.d-flex.align-self-center.mr-3(src='../assets/img/flags/germany@2x.png', alt='')
				.media-body
					p.mt-3 German
			.media.flags
				img.d-flex.align-self-center.mr-3(src='../assets/img/flags/netherlands@2x.png', alt='')
				.media-body
					p.mt-3 Dutch
			.media.flags
				img.d-flex.align-self-center.mr-3(src='../assets/img/flags/germany@2x.png', alt='')
				.media-body
					p.mt-3 German
			.media.flags
				img.d-flex.align-self-center.mr-3(src='../assets/img/flags/england@2x.png', alt='')
				.media-body
					p.mt-3 English
				img.d-flex.align-self-center.checked-icon(src='../assets/img/general-icons/checked-icon.svg', alt='checked-icon')
			.media.flags
				img.d-flex.align-self-center.mr-3(src='../assets/img/flags/spain@2x.png', alt='')
				.media-body
					p.mt-3 Spanish
			.media.flags
				img.d-flex.align-self-center.mr-3(src='../assets/img/flags/netherlands@2x.png', alt='')
				.media-body
					p.mt-3 Dutch
			.media.flags
				img.d-flex.align-self-center.mr-3(src='../assets/img/flags/germany@2x.png', alt='')
				.media-body
					p.mt-3 German
			.media.flags
				img.d-flex.align-self-center.mr-3(src='../assets/img/flags/england@2x.png', alt='')
				.media-body
					p.mt-3 English
			.media.flags
				img.d-flex.align-self-center.mr-3(src='../assets/img/flags/spain@2x.png', alt='')
				.media-body
					p.mt-3 Spanish 
		