doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')

    link(rel='stylesheet', href='../assets/css/bootstrap.min.css')
    link(href='../assets/css/style.css', rel='stylesheet', type='text/css')
    
  body.blue-bckg
    .container
      .navigation
        .row
          .col
            p Cancel
          .col-6
            p.text-center 
              strong Select target language
          .col
            p 
              
    .container
      .row
        .col
          p.dark-blue 
          | Please select the language you want to learn words for from the list below.
    
      .container-fluid
        .media
          img.d-flex.align-self-center.mr-3(src='../assets/img/flags/netherlands@2x.png', alt='')
          .media-body
            h5 Dutch
        .media
          img.d-flex.align-self-center.mr-3(src='../assets/img/flags/germany@2x.png', alt='')
          .media-body
            h5 German
        .media
          img.d-flex.align-self-center.mr-3(src='../assets/img/flags/england@2x.png', alt='')
          .media-body
            h5 English
        .media
          img.d-flex.align-self-center.mr-3(src='../assets/img/flags/spain@2x.png', alt='')
          .media-body
            h5 Spanish
        .media
          img.d-flex.align-self-center.mr-3(src='../assets/img/flags/germany@2x.png', alt='')
          .media-body
            h5 German
        .media
          img.d-flex.align-self-center.mr-3(src='../assets/img/flags/netherlands@2x.png', alt='')
          .media-body
            h5 Dutch
        .media
          img.d-flex.align-self-center.mr-3(src='../assets/img/flags/germany@2x.png', alt='')
          .media-body
            h5 German
        .media
          img.d-flex.align-self-center.mr-3(src='../assets/img/flags/england@2x.png', alt='')
          .media-body
            h5 English
        .media
          img.d-flex.align-self-center.mr-3(src='../assets/img/flags/spain@2x.png', alt='')
          .media-body
            h5 Spanish 
    // jQuery first, then Tether, then Bootstrap JS.
    script(src='https://code.jquery.com/jquery-3.1.1.slim.min.js', integrity='sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js', integrity='sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb', crossorigin='anonymous')
    script(src='../assets/js/bootstrap.min.js')