extends templates
block title
	title Learn 10 words

block content
	.navigation
		.container-fluid
			.row
				.col
					p 		
				.col-6
					p.text-center.font-weight-bold Learn 10 words
				.col.text-right
					p.two-icon
						a(href='#').mr-3
							img.nav-icon(src='../assets/img/general-icons/enter.svg')
						a(href='#')
							img.nav-icon(src='../assets/img/general-icons/question-white.svg')
	.container-fluid.learn-ten-words
		.row.pt-3
			.col-4.offset-2.col-md-4.mt-3.offset-md-3
				.progress
					.progress-bar.w-25(role='progressbar', aria-valuenow='25', aria-valuemin='0', aria-valuemax='100')
			.col-5.col-md-4
				span.pr-2 9
				img.mr-3.wdth-20(src='../assets/img/general-icons/open-book.svg')
				span.pr-2 1
				img.wdth-20(src='../assets/img/general-icons/refresh.svg')
		.row.mt-3
			.col.text-center
				p.title lobo
				p.subtitle What is the correct translation?
		.row
			.col.answers
				p buffalo
				p octopus
				p kangaroo
				p wolf
				p stork
		.row.aito
			.col-2.col-md-5
			.col-5.col-md-2.text-center.mt-5.aito-green
				p
					a.aito-green-btn(href='#') Answer
			.col-5.col-md-5.text-right.aito-rules
				img(src='../assets/img/aito/aito_with_ruler.png')

				