extends templates
block title
	title Learn 10 words

block content
	.navigation
		.container-fluid
			.row
				.col
					p 		
				.col-6
					p.text-center.font-weight-bold Learn 10 words
				.col.text-right
					p.two-icon
						a(href='#').mr-3
							img.nav-icon(src='../assets/img/general-icons/enter.svg')
						a(href='#')
							img.nav-icon(src='../assets/img/general-icons/question-white.svg')
	.container-fluid.learn-ten-words
		.row.pt-3
			.col-4.offset-2.col-md-4.mt-3.offset-md-3
				.progress
					.progress-bar.w-0(role='progressbar', aria-valuenow='0', aria-valuemin='0', aria-valuemax='100')
			.col-6.col-md-4
				span.pr-2 10
				img.mr-3.wdth-20(src='../assets/img/general-icons/open-book.svg')
				span.pr-2 0
				img.wdth-20(src='../assets/img/general-icons/refresh.svg')
		.row.mt-4
			.col-2.col-md-3.ml-2-5.ml-md-5
				img.wdth-45(src='../assets/img/general-icons/leaf.svg')
			.col-6.col-md-5.text-center
				p.title-2 lobo
				p.subtitle-2 wolf
				img.wolf(src='../assets/img/wolf.png')
			.col-2.col-md-3.text-right.mr-2
				img.wdth-30.mb-2(src='../assets/img/general-icons/play-button-blue.svg')
				br
				img.wdth-30.mb-2(src='../assets/img/general-icons/star-blue.svg')
				br
				img.wdth-30(src='../assets/img/general-icons/edit-blue.svg')
		.row.mt-2.justify-content-center
			.col-8.col-md-6.col-lg-4.words-list
				img.wdth-20.mr-2(src='../assets/img/general-icons/play-button-blue.svg')
				span Less
				br
				img.wdth-20.mr-2(src='../assets/img/general-icons/play-button-blue.svg')
				span El es un lobo con piel de cordero
				br
				p He is a wolf in sheep's clothing.
				.row
					.col
						img.wdth-20.mr-2(src='../assets/img/word_edit/blue_flowchart@2x.png')
						span Noun
					.col
						img.wdth-20.mr-2(src='../assets/img/word_edit/blue_male@2x.png')
						span el

			.col-2.col-md-4.text-right.play-only
				img.wdth-30(src='../assets/img/general-icons/play-button-blue.svg')
		.clearfix
		.row.aito-2.mtop
			.col-2.col-md-5
			.col.aito-green-buttons.col-5.col-md-2.text-center.mt-5
				p
					a.text-capitalize(href='#') Next
			.col-5.col-md-5.text-right.aito-2-rules
				img(src='../assets/img/aito/aito_with_ruler.png')

				