extends templates
block title
	title Results

block content
	.navigation
		.container-fluid
			.row
				.col
					p 
						a(href='#')
							img.nav-icon(src='../assets/img/general-icons/arrow-left.svg')
				.col-6
					p.text-center.font-weight-bold Results

				.col.text-right
					p
						a(href='#')
							img.nav-icon(src='../assets/img/general-icons/question-white.svg')
	.container-fluid.results-block
		.row.justify-content-center.pt-3
			.col-11.col-md-8.col-lg-6.text-center.dark-blue-bubble
				p.title Reports
				p.subtitle Last reports
				.row.justify-content-center
					.col-2.text-left.mt-h5
						img.wdth-30.mb-2(src='../assets/img/home/learn_icon@2x.png')
					.col-7.text-left.descr-text
						span Dec 24, 2016, 3:02 PM, 100% correct
						br
						span Learning session: 3 new words acquired.
					.col-3.text-right.mt-h5
						img.wdth-30(src='../assets/img/general-icons/list.svg')
				.row.justify-content-center.mt-3
					.col-2.text-left.mt-h5
						img.wdth-30(src='../assets/img/home/pencil@2x.png')
					.col-7.text-left.descr-text
						span Dec 24, 2016, 3:01 PM, score: 0/2
						br
						span Exercise on Spanish - English.
					.col-3.text-right.mt-h5
						img.wdth-30.mb-2(src='../assets/img/general-icons/list.svg')
				.row.justify-content-center.pt-2
					.col-12.text-center
						p
							a.btn.btn-green(href='#') View all reports
		.row.justify-content-center.mt-3.pb-5
			.col-11.col-md-8.col-lg-6.text-center.dark-blue-bubble
				.row.justify-content-center.pt-2
					.col-5.offset-3.col-lg-3.offset-lg-4.text-right
						p.title Word statics
					.col-2.offset-2.col-lg-1.offset-lg-4.text-center.mt-h5
						img.wdth-30.mb-2(src='../assets/img/general-icons/garbage.svg')
				.row.justify-content-center.mt-3
					.col.text-left
						p.white-text New words: 97/105
					.col.text-right
						.row.no-gutters
							.col.mr-2
								label.switch
									input(type='checkbox')
									.slider.round.slider-trasparent
							.col-2.col-md-1.mt-1
								a(href='#')
									img.question-icon(src='../assets/img/general-icons/question-white.svg')
				.row.justify-content-center
					.col.text-left
						p.white-text Problematic words 3/105
					.col.text-right
						.row.no-gutters
							.col.mr-2
								label.switch
									input(type='checkbox')
									.slider.round.slider-trasparent
							.col-2.col-md-1.mt-1
								a(href='#')
									img.question-icon(src='../assets/img/general-icons/question-white.svg')
				.row.justify-content-center
					.col.text-left
						p.white-text Acquired words 5/105
					.col.text-right
						.row.no-gutters
							.col.mr-2
								label.switch
									input(type='checkbox', checked='')
									.slider.round.slider-trasparent
							.col-2.col-md-1.mt-1
								a(href='#')
									img.question-icon(src='../assets/img/general-icons/question-white.svg')
						
				