extends templates
block title
	title Review

block content
	.navigation.fixed-top
		.container-fluid
			.row
				.col
					p 
				.col-6
					p.text-center.font-weight-bold Review suggetions

				.col.text-right
					p
						a(href='#')
							img.nav-icon(src='../assets/img/general-icons/question-white.svg')
	.container-fluid.review-block
		.row
			.col.mt-3
				p We finished our search
				p Please review the following suggestions.
		
		.row.bb.light-blue-bckg.mt-2
				.col-6.mt-3
					.row
						.col-3.col-md-2.col-lg-1.mt-3
							img.play-img.checked-icon.pr-1(src='../assets/img/checkbox_checked_blue.png')
						.col.text-left.title-review-bl
							p elefante
							p elephant
			
				.col-6.text-right.word-list-imgs.mt-3
					.row
						.col.pb-3
							img.wdth150(src='../assets/img/elephant.png')
						.col.choose-another
							img.wdth-100(src='../assets/img/buttons/choose_another_button@2x.png')
							p.text-center.sky-blue-color
								| Choose <br/>
								| another 

		.row.bb.light-blue-bckg
				.col-6.mt-3
					.row
						.col-3.col-md-2.mt-3
							img.play-img.checked-icon(src='../assets/img/checkbox_checked_blue.png')
						.col.text-left.title-review-bl
							p elefante
							p elephant
			
				.col-6.text-right.word-list-imgs.mt-3
					.row
						.col.pb-3
							img.wdth150(src='../assets/img/elephant.png')
							img.wdth-100(src='../assets/img/buttons/choose_another_button@2x.png')
		.row.bb.light-blue-bckg
				.col-6.mt-3
					.row
						.col-3.col-md-2.mt-3
							img.play-img.checked-icon(src='../assets/img/checkbox_checked_blue.png')
						.col.text-left.title-review-bl
							p elefante
							p elephant
			
				.col-6.text-right.word-list-imgs.mt-3
					.row
						.col.pb-3
							img.wdth150(src='../assets/img/elephant.png')
							img.wdth-100(src='../assets/img/buttons/choose_another_button@2x.png')
		.row.bb.light-blue-bckg
				.col-6.mt-3
					.row
						.col-3.col-md-2.mt-3
							img.play-img.checked-icon(src='../assets/img/checkbox_checked_blue.png')
						.col.text-left.title-review-bl
							p elefante
							p elephant
			
				.col-6.text-right.word-list-imgs.mt-3
					.row
						.col.pb-3
							img.wdth150(src='../assets/img/elephant.png')
							img.wdth-100(src='../assets/img/buttons/choose_another_button@2x.png')
		.row.bb.light-blue-bckg
				.col-6.mt-3
					.row
						.col-3.col-md-2.mt-3
							img.play-img.checked-icon(src='../assets/img/checkbox_checked_blue.png')
						.col.text-left.title-review-bl
							p elefante
							p elephant
			
				.col-6.text-right.word-list-imgs.mt-3
					.row
						.col.pb-3
							img.wdth150(src='../assets/img/elephant.png')
							img.wdth-100(src='../assets/img/buttons/choose_another_button@2x.png')

		.row
			.col.text-center.mt-3.mb-3.review
				a.btn.btn-red.mr-3(href='#') Cancel
				a.btn.btn-green(href='#') Confirm


					









		

