extends templates
block title
	title Review

block content
	.navigation.fixed-top
		.container-fluid
			.row
				.col
					p 
				.col-6
					p.text-center.font-weight-bold Review suggetions

				.col.text-right
					p
						a(href='#')
							img.nav-icon(src='../assets/img/general-icons/question-white.svg')
	.container-fluid.review-block
		.row
			.col.mt-3
				p We finished our search
				p Please review the following suggestions.
		.row.bb.light-blue-bckg.mt-2
			+review('#','elefante','elephant', '../assets/img/elephant.png', '10+', 'Choose another')
		.row.bb.light-blue-bckg
			+review('#','elefante','elephant', '../assets/img/elephant.png', '10+', 'Choose another')
		.row.bb.light-blue-bckg
			+review('#','elefante','elephant', '../assets/img/elephant.png', '10+', 'Choose another')
		.row.bb.light-blue-bckg
			+review('#','elefante','elephant', '../assets/img/elephant.png', '10+', 'Choose another')
		.row.bb.light-blue-bckg
			+review('#','elefante','elephant', '../assets/img/elephant.png', '10+', 'Choose another')
		.row.bb.light-blue-bckg
			+review('#','elefante','elephant', '../assets/img/elephant.png', '10+', 'Choose another')
		.row.bb.light-blue-bckg
			+review('#','elefante','elephant', '../assets/img/elephant.png', '10+', 'Choose another')
		.row.bb.light-blue-bckg
			+review('#','elefante','elephant', '../assets/img/elephant.png', '10+', 'Choose another')
		
		.row
			.col.text-center.mt-3.mb-3.review
				a.btn.btn-red.mr-3(href='#') Cancel
				a.btn.btn-green(href='#') Confirm


					









		

