extends templates
block title
	title Review

block content
	.navigation
		.container
			.row
				.col
					p 
				.col-6
					p.text-center.font-weight-bold Review suggetions

				.col.text-right
					p
						a(href='#')
							img.nav-icon(src='../assets/img/general-icons/question-white.svg')
	.container.review
		.row
			.col
				p We finished our search
				p Please review the following suggestions.
		.row
			.col-12.light-blue-bckg.mt-2
				.row.bb
					.col-6
						.row
							.col
								img.checked-icon(src='../assets/img/checkbox_checked_blue.png')
							.col.text-left
								span elefante
								br
								span elephant
						
					.col-6
						.row
							.col
								img.wdth150(src='../assets/img/elephant.png')
							.col
								img.w-50(src='../assets/img/buttons/choose_another_button@2x.png') 
				.row.bb
					.col-6
						.row
							.col
								img.checked-icon(src='../assets/img/checkbox_checked_blue.png')
							.col.text-left
								span elefante
								br
								span elephant
						
					.col-6
						.row
							.col
								img.wdth150(src='../assets/img/elephant.png')
							.col
								img.w-50(src='../assets/img/buttons/choose_another_button@2x.png') 
				.row.bb
					.col-6
						.row
							.col
								img.checked-icon(src='../assets/img/checkbox_checked_blue.png')
							.col.text-left
								span elefante
								br
								span elephant
						
					.col-6
						.row
							.col
								img.wdth150(src='../assets/img/elephant.png')
							.col
								img.w-50(src='../assets/img/buttons/choose_another_button@2x.png') 

