extends templates
block title
	title My word list 

block content
	.navigation.fixed-top
		.container
			.row
				.col-4
					p 
						a(href='#')
							img.nav-icon(src='../assets/img//general-icons/arrow-left.svg')
				.col-4
					p.text-center.font-weight-bold My word list 

				.col-4.text-right
					p
						a(href='#').mr-3
							img.nav-icon(src='../assets/img/general-icons/filter.svg')
						a(href='#').mr-3
							img.nav-icon(src='../assets/img/general-icons/plus.svg')
						a(href='#').mr-3
							img.nav-icon(src='../assets/img/general-icons/question-white.svg')
						a(href='#')
							img.nav-icon(src='../assets/img/general-icons/menu.svg')

	
	.container.word-list.light-blue-bckg
		.row
			.col-12.searchbar
				input.form-control(type='text', placeholder='search')
		+word-list('elefante','elephant')
		+word-list('leon','lion')
		+word-list('hipopotamo','hippopotamus')
		+word-list('rinoceronte','rinocerontos')
		+word-list('cuerno','antler')
		+word-list('trompa','trunk')
		+word-list('colmillo','tusk')

	.row.text-center.confirm.fixed-bottom
		.col
			p To rehearsal mode	
		















				

							//('leon','lion')
								('hipopotamo','hippopotamus')
								('rinoceronte','rinoceros')
								('cuerno','antler')
								('trompa','trunk(of elephant)')
								('colmillo','tusk')
								('tigre','tiger')
								('alce','lion')
								('leon','moose')
					


						

